<h1>Create a new song here!</h1>

<form action="/my-songs/create" method="POST" id="new-song-form">
    <label for="title">Title</label>
    <input type="text" name="title" id="title">
    <label for="artist">Artist</label>
    <input type="text" name="artist" id="artist">
    <label for="chords">Chords</label>
    <input type="text" name="chords" id="chords">
    <label for="lyrics">Lyrics</label>
    <input type="text" name="lyrics" id="lyrics">
    <button>CREATE SONG</button>
</form>